#!/usr/bin/env python
# _*_ coding:utf-8 _*_
 
PACKAGE = "cotek_dynamic"
 
from dynamic_reconfigure.parameter_generator_catkin import *
 
gen = ParameterGenerator()
 
gen.add("cmd_topic",    str_t,    0, "turtlesim cmd topic name", "/turtle1/cmd_vel")
gen.add("arethread_0", int_t,    0, "arethread_0", 0, 1000, 3000)
gen.add("arethread_1",     int_t, 0, "arethread_1", 1, 100, 1000)
gen.add("nums",    int_t, 0, "nums", 1, 3, 3)
gen.add("enable_visual_debug",   bool_t,   0, "enable_visual_debug", False )
gen.add("threshold_x",    int_t, 0, "threshold_x", 0, 40, 2000)
gen.add("up_pile",    double_t, 0, "up_pile", 0.0, 0.0, 500.0)
gen.add("up_to_nums_0",    double_t, 0, "up_to_nums_0", 0.0, 0.5, 10.0)
gen.add("up_to_nums_1",    double_t, 0, "up_to_nums_1", 0.0, 1.5, 10.0)
gen.add("enable_avoid",    bool_t,   0, "enable_avoid", False )





 
log_enum = gen.enum([ gen.const("info", int_t, 0, "log print flag:INFO"),
                      gen.const("warn", int_t, 1, "log print flag:WARN"),
                      gen.const("error", int_t, 2, "log print flag:ERROR")],
                      "Set Log Level")
gen.add("log_level", int_t, 0, "Set Log Level", 0, 0, 2, edit_method=log_enum)
 
exit(gen.generate(PACKAGE, "cotek_dynamic_node", "dynamic"))